@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
}

a {
    color: rgb(58, 58, 58)
}

a:hover {
    color: rgb(31, 31, 31)
}

h1, h2, h3, h4 {
    font-family: 'Inter', sans-serif;
}

label {
    font-size: 12px;
    font-weight:bold;
}

form {
    padding-bottom: 20px;
}

.logo {
    max-width: 40vh;
    width:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.header-text {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.well {
    max-width: 85%;
    width:auto;
    position: relative;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.form-error-text {
    color:#e63946;
    font-size:12px;
}

.signup {
    display: none;
}

.login {
    margin-top: 18%;
}

.form-control {
    border-width:0.5px;
}

.no_match {
    font-size: 12px;
}

.btn-primary {
    background-color: #000;
    border:none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.btn-primary:hover {
    background: rgb(37, 37, 37);
}

.btn:hover {
    background-color: rgb(53, 53, 53);
}
.btn:disabled {
    color: #AAA;
    background-color: #222;
}

.no-account {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}